<p> Votre tentative <%=@attempt%> </p>

<h2> Détails de votre tentative :</h2>

  <p> <%= @result[:time] %> seconds</p>
  <p> "<%= @result[:translation] %>" </p>
  <p> <%= @result[:time] %> points</p>
